.blogCont{
    width:1200px; 
    height:2900px;
    margin-top: 60px;
}

.blogCont .row{
    width:1200px; 
    height:2900px;
    position: relative;
}

.blogCont .row .blogCardCol{
    display:flex;
    justify-content:start;
    align-items:start;
    flex-direction:column;
    min-width:900px;
    height:1500px;
    padding-right: 30px;
}

.blogCont .row .blogCardCol .blog-card .blogCardImg{
    width: 855px;
    height:600px;
    object-fit: cover;
    border-radius: 10px;
}

.blogCont .row .blogCardCol .blog-card .cardText{
    margin-top:20px;
}

.blogCont .row .blogCardCol .blog-card .cardText i{
    font-size:17px;
    color:#00c8ff;
    margin-right:7px;
}

.blogCont .row .blogCardCol .blog-card .cardText a{
    color:#767676;
    text-decoration: none;
    
}

.blogCont .row .blogCardCol .blog-card .blog-title{
    margin-top:5px;
    font-size:36px;
    font-family: inter,sans-serif;
    font-weight:600;
    
}

.blogCont .row .blogCardCol .blog-card .blog-content{
    margin-top:10px;
    font-size:15px;
    font-family: inter,sans-serif;
}

.blogCont .row .blogCardCol .blog-card a{
    text-decoration: none;
}

.blogCont .row .blogCardCol .blog-card a:hover{
    text-decoration: underline;
}

.blogCont .row .blogCardCol .blog-card a div{
    margin-top:20px;
    width:113px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #233a95;
    color: white;
    font-size: 15px;
    margin-bottom: 40px;
}

.blogCont .row .blogCardCol .pages{
    position: absolute;
    bottom:100px;
    left:275px;
    width:250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogCont .row .blogCardCol .pages #pageNumber{
    margin-right:20px;
    color:#262626;
    width:36px;
    height:36px;
    background:#2bbef9;
    cursor:pointer;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white
}

.blogCont .row .blogCardCol .pages a{
    text-decoration: none;
}

.blogCont .row .blogCardCol .pages a div{
    margin-right:20px;
    color:#262626
}

.blogCont .row .blogCardCol .pages a i{
    margin-right:20px;
    color:#262626
}


.blogCont .row .sideBarCol{
    display:flex;
    justify-content:start;
    align-items:flex-start;
    flex-direction:column;
    min-width:300px;
    height:2900px;
    padding-left: 15px;
}

.blogCont .row .sideBarCol .search{
    position: relative;
}

.blogCont .row .sideBarCol .search input{
    outline:none;
    border:rgb(200, 200, 200);
    background:#f3f4f7;
    border-radius:5px;
    padding-left:15px;
    width: 270px;
    height: 40px;
}

.blogCont .row .sideBarCol .search i{
    position:absolute; 
    top:10px;
    right:10px;
}

.blogCont .row .sideBarCol .popularPosts{
    margin-top:50px;
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.blogCont .row .sideBarCol .popularPosts span{
    font-size:15px;
    font-family:dosis,sans-serif;
    margin-bottom:20px;
}

.blogCont .row .sideBarCol .popularPosts .postsCont{
    border:1px solid rgb(235, 235, 235);
    width:270px;
    height:311px;
    border-radius:5px; 
    display: flex;
    flex-direction: column;
    padding:20px;
}

.blogCont .row .sideBarCol .popularPosts .postsCont .col{
    display:flex;
}

.blogCont .row .sideBarCol .popularPosts .postsCont .col .postImage{
    margin-right:15px;
    width: 60px;
    height: 60px;
    position: relative;
}

.blogCont .row .sideBarCol .popularPosts .postsCont .col .postImage img{
    object-fit:cover; 
    width: 100%;
    height: 100%;
    border-radius:50%;
}

.blogCont .row .sideBarCol .popularPosts .postsCont .col .postImage .postText{
    width:24px;
    height:24px;
    background:#2bbef9;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top:2px;
    right:-5px;
    position: absolute;
    border: 1px solid white;
    font-size:12px;
    font-weight:600;
}

.blogCont .row .sideBarCol .popularPosts .postsCont .col .textLabel{
    width: 153px;
    font-size:14px;
    font-family:inter,sans-serif;
    font-weight:500;
}


.blogCont .row .sideBarCol .socialMedia{
    margin-top:50px;
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.blogCont .row .sideBarCol .socialMedia .socials{
    width:270px;
    height:311px; 
    display: flex;
    flex-direction: column;
    padding:15px 0px;
}

.blogCont .row .sideBarCol .socialMedia .socials #socialMediaHeader{
    font-size:15px;
    font-family:dosis,sans-serif;
    margin-bottom:20px;
}

.blogCont .row .sideBarCol .socialMedia .socials .col{
    display:flex;
}

.blogCont .row .sideBarCol .socialMedia .socials .col .network{
    padding:0px 15px;
    width: 270px;height: 42px;
    position: relative;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-family: dosis,sans-serif;
    font-weight: 500;
}

.blogCont .row .sideBarCol .socialMedia .socials .col .network span{
    margin-left:25px;
}


.blogCont .row .sideBarCol .widgetBanner{
    margin-top:30px;
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.blogCont .row .sideBarCol .widgetBanner #widgetBanner{
    font-size:15px;
    font-family:dosis,sans-serif;
    margin-bottom:20px;
}

.blogCont .row .sideBarCol .tags{
    margin-top:30px;
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.blogCont .row .sideBarCol .tags span{
    font-size:15px;
    font-family:dosis,sans-serif;
    margin-bottom:20px;
}

.blogCont .row .sideBarCol .tags .tags-content{
    display:flex;
    width: 270px;
    height: 150px; 
    flex-wrap: wrap;
}

.blogCont .row .sideBarCol .tags .tags-content a{
    text-decoration: none;
    color:#262626;
    
}

.blogCont .row .sideBarCol .tags .tags-content a div{
    text-decoration: none;
    padding:5px 15px; 
    border: 1px solid rgb(205, 205, 205);
    border-radius:2px;
    margin-right:5px;
    margin-bottom:5px;
}









