.slidecontainer .wrapper{
    position: relative;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
}

.slidecontainer input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.slidecontainer .slider-track{
    width: 100%;
    height: 5px;
    position: absolute;
    background-color: #000000;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}
.slidecontainer input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}
.slidecontainer input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
.slidecontainer input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}
.slidecontainer input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 18px;
    width:  18px;
    background-color:#000000;
    cursor: pointer;
    margin-top: -6px;
    pointer-events: auto;
    border-radius: 50%;
}
.slidecontainer input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #000000;
    pointer-events: auto;
}
.slidecontainer input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #000000;
    pointer-events: auto;
}
.slidecontainer input[type="range"]:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #000000;
}
.slidecontainer .values{
    position: relative;
    top:50px;
    left:0px;
    padding: 10px 0;
    border-radius: 5px;
    font-weight: 500;
    font-size: 17px;
    color: #000000;
}

input:hover{
    opacity: 0.5;
    cursor: pointer;
}
