*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.covidHead{
    background-color: #233a95;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.covidHead h6{
    font-size: smaller;
    color: white;
}

.secondContainer{
    padding-left: 95px;
    height: 45px;
}

.secondHead ul{
    display: flex;
    padding-top: 6px;
    padding-left: 15px;
}

.secondHead ul li{
    list-style: none;
    padding-top: 5px;
}

.secondHead ul li a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(90, 88, 88);
}

.secondHead .secondCol{
    padding-left: 60px;
    font-size: 14px;
    padding-top: 7px;
    color: rgb(90, 88, 88);
}

.secondHead .secondCol i{
    
    font-size: 22px;
    
}

.secondHead .secondCol span{
    padding-top: 7px;
    padding-left: 10px;
}