*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.covidHead{
    background-color: #233a95;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.covidHead h6{
    font-size: smaller;
    color: white;
}

.secondContainer{
    padding-left: 95px;
    height: 45px;
}

.secondHead ul{
    display: flex;
    padding-top: 6px;
    padding-left: 15px;
}

.secondHead ul li{
    list-style: none;
    padding-top: 5px;
}

.secondHead ul li a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(90, 88, 88);
}

.secondHead .secondCol{
    padding-left: 60px;
    font-size: 14px;
    padding-top: 7px;
    color: rgb(90, 88, 88);
    position: relative;
    
}

.secondHead .secondCol:after {
    content: '';
    height: 40%; 
    width: 1px;
  
    position: absolute;
    right: 0;
    top: 13px; 
  
    background-color: rgb(212, 209, 209); 
    opacity: 0.5;
  }

.secondHead .secondCol i{
    font-size: 22px;
}

.secondHead .secondCol span{
    padding-top: 7px;
    padding-left: 10px;
}

.secondHead .thirdCol{
    margin-left: 0px;
    padding-left: 0px;
    position: relative;
    margin-right: 0px;
    padding-right: 0px;
}

.secondHead .thirdCol .text-content{
    padding-left: 0px;
    font-size: 14px;
    padding-top: 14px;
    color: rgb(90, 88, 88);
    margin-left: 0px;
}

.secondHead .thirdCol .text-content:before{
    content: '';
    height: 90%; 
    width: 1px;
  
    position: absolute;
    right: 0;
    top: 0px; 
  
    background-color: rgb(212, 209, 209); 
       
}

.secondHead .thirdCol span{
    padding-top: 7px;
    padding-left: 20px;
}

.secondHead .thirdCol span a{
    text-decoration: none;
    
}

.sideHov{
    display: flex;
    justify-content: start;
}

.downButton{
    border:none;
    background: none;
    color: rgb(90, 88, 88);
    padding: 16px;
    font-size: 12px;
    padding-right: 0px;
    transition: 0.3s;
}

.secondHead .sideHov .dropdown{
    position: relative;
  display: inline-block;
  padding-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 100px;
    min-height: 125px;
    padding-top: 14px;
    filter: drop-shadow(0px 4px 4px rgb(219, 216, 216));
    transition: 0.3s;
    border-radius: 0px 0px 10px 10px;
    z-index: 1;
  }

.secondHead .sideHov .dropdown a{
    text-decoration: none;
    color: rgb(90, 88, 88);
    padding: 6px 35px;
    display: block;
    transition: 0.5s;
    font-size: 12px;
    font-weight: 600;
} 

.dropdown-content a:hover {background-color: #ddd;}

.secondHead .sideHov .dropdown:hover .dropdown-content {
    display: block;
}



.navbar .logoBac{
    padding-left:95px;
    padding-top: 10px;
    padding-right: 0px;
    margin-right: 0px;
}

.navbar .logoBac a{
    position: relative;
}

.navbar .logoBac a img{
    width:170px;
    height:45px;
    padding-left:5px;
}

.navbar .logoBac span{
    font-size:11px;
    color:#afb0b6;
    font-family:sans-serif;
    text-decoration: none;
    position: absolute;
    left: 113px;
    top: 88px;
}

.navbar .locBtn{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left:50px ;
    width: 180px;
    height: 60px;
    border: 1px solid rgb(224, 224, 224);
    box-shadow: 0px 4px 8px 0px rgba(143, 143, 143, 0.2);
}

.navbar .locBtn .loc{
    font-size:10px;
    color:#afb0b6;
}

.navbar .locBtn .curLoc{
    color: #233a95;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 600;
}

.navbar .locBtn span i{
    position: absolute;
    top: 25px;
    right: 15px;
    font-size: 10px;
}

.navbar .colLoc{
    position: absolute;
    left: 300px;
    top: 45px;
}

.navbar .searchBar{
    position: relative;
    margin-left: 250px;
}

.navbar .searchBar i{
    position: absolute;
    left:630px;
top: 13px;
right: 26px;
font-size: 25px;
color: rgb(49, 49, 49);
}

.navbar .searchBar .searchInput{
    position: relative;
  margin-top: 36px;
  padding: 13px 15px;
  width: 625px;
  height: 63px;
  border-radius: 10px;
  border: none;
  background-color: #f3f4f7;
  font-weight: 100;
  left:50px;
}

.userCol{
    position: relative;
}

.userCol a{
    color:gray;
}

.userAcc{
    position: absolute;
    display: flex;
    margin-top: 5px;
    margin-left: 10px;
    width: 42px;
    height: 42px;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    left: 80px;
    top:-8px;
  }
  
  .productCount{
    position: relative;
    display: flex;
    left: -45px;
  }

  .productCount a{
      text-decoration: none;
      color:black;
  }
  
  .productCount .currency{
    position: relative;
    top: 28px;
    left: 15px;
    font-family:"Dosis",sans-serif;
    font-weight: 500;
    font-size: 16px;
  }
  
  .productCount .basketShow{
    position: absolute;
    width: 250px;
    max-width: 350px;
    max-height: 600px;
    min-height: 250px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 8px 0px rgba(57, 57, 57, 0.2);
    border-radius: 15px;
    top: 65px;
    left: -160px;
    transition: 1s;
    display: none;
  
  }


  .productCount .basketShow img{
    width:125px;
    height:100px;
  }

  .productCount .basketShow .basketCont{
    font-size:14px;
    font-weight:600;
  }

  .productCount .basketShow .sale{
    font-size:12px; 
    padding-top:45px;
  }
  
  .productCount:hover .basketShow{  display: flex;
    justify-content: center;
    align-items: center;
  flex-direction: column;}
  
  .basketLogo:hover .basketShow{  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .basketLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 3px;
    margin-left: 10px;  
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: rgb(250, 226, 226);
    color:rgb(235, 52, 52);
    top:15px;
    left: 30px;
  }
  .basketLogo i{
   position: relative;
   left:8.5px;
  }
  .basketLogo .countShow{
    width: 17px;
    height: 17px;
    position: relative;
    top:-10px;
    right: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 600;
  }

  .downBtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border:none;
    background-color:#2bbef9 ;
    border-radius:25px;
    min-width: 230px;
    height: 55px;
    color: white;
    position: relative;
    
  }
  
  .downBtn:hover, .downBtn:focus {
    background-color: #2bbef9;
  }
  
  .dropdownCat {
    position: relative;
    display: inline-block;
  }
  
  .catBar {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 300px;
    overflow: auto;
    z-index: 1;
    padding: 12px 16px;
    left: 100px;
    top: 85px;
    border-radius: 0px 0px 5px 5px;
  }
  
  .catBar a {
    color: #3e445a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
  }

  .catBar a:hover{
      color: #2bbef9;
  }
  
  .dropdownCat a:hover {background-color: #ddd;}
  
  .show {display: block;}

  .dropCol .dropdownCat .totalCount{
    background-color:#f0f0f1;
    border-radius:25px;
    width: 105px;
    height: 20px;
    color: #8f8f92;
    font-size: 11px;
    border: 1px solid #ffffff;
    position: absolute;
    left:41px;
    top: 45px;
  }

  .dropCol .dropdownCat .downBtn .listIcon{
    position: absolute;
    left: 21px;
}

.dropCol .dropdownCat .downBtn .downIcon{
    position: absolute;
    left: 195px;
}

.secondHov{
    position: relative;
}

.chevDown1{
    position: absolute;
    left: 234px;
    top:21px;
}

.chevDown2{
    position: absolute;
    left: 250px;
    top:170px;
}

.sideMenu {
    background-color: #ffffff;
    color: white;
    padding: 1px;
    font-size: 16px;
    border: none;
  }
  
  .dropSide {
    position: relative;
    display: inline-block;
  }
  
  .sideCont {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 230px;
    z-index: 1;
    position: absolute;
    left: 30px;
    top: 37px;
  }
  
  .sideCont a {
    color: #8f8f92;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .sideCont a:hover {background-color: #f0f0f1;}
  
  .dropSide:hover .sideCont {display: block;}

  .homebtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    color: #3e445a;
  }
  
  .homedown {
    position: relative;
    display: inline-block;
  }
  
  .homeCont {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 200px;
    z-index: 1;
    padding-left: 25px;
  }
  
  .homeCont a {
    color: #3e445a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .homeCont a:hover {
      background-color: #f0f0f1;
      color: #2bbef9;
}
  
  .homedown:hover .homeCont {display: block;}


  .shopbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    color: #3e445a;
  }
  
  .shopdown {
    position: relative;
    display: inline-block;
  }
  
  .shopCont {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100vh;
    z-index: 1;
    padding-left: 25px;
    left:-100px;
  }

  .shopCont h6{
      cursor: pointer;
      color: #233a95;
  }

  .shopCont h6:hover{
    color: #2bbef9;
  }
  
  .shopCont a {
    color: #3e445a;
    padding: 12px 4px;
    text-decoration: none;
    display: block;
  }
  
  .shopCont a:hover {
      background-color: #f0f0f1;
      color: #2bbef9;
    }
  
  .shopdown:hover .shopCont {display: block;}


  

 


